body {background-color:#7C7D7E;
}
footer {background-color:#656566;
}

header {background-color:#656566;
}
#news {background-color:#656566;
width: 100%;
}

#way {background-color:#656566;
width: 100%;
}
